/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: transparent;
}

.glyph-icon{
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
    -glyph-size: 23px;
}

.image {
    -glyph-name: "STREET_VIEW";
    -icons-color: blue;
}
.image:hover {
    -icons-color: red;
}
