/*
 * Empty Stylesheet file.
 */
@font-face {
    src: local("file:res/fonts/SourceSansPro-Regular.ttf");
}
.root {
    -fx-font-family: 'Source Sans Pro';
}
.mainFxmlClass {

}

.pak-column {
    -fx-alignment: CENTER;
}

.initial-column {
    -fx-alignment: CENTER;
}